@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
body {
    font-family: 'Jeju Gothic', serif;
    font-size: 0.95em;
    color: #000;
}
a {
	text-decoration: none;
    color: #000;
    -moz-transition:color .2s ease;   
    -o-transition:color .2s ease;   
    -ms-transition:color .2s ease;   
    -webkit-transition:color .2s ease;
    transition:color .2s ease;
}
p {
    width: 100%;
}
#footer {
    width: 70%;
    margin: auto;
    padding: 10px;
    height: 80px;
    font-size: 0.8em;
	color: #999;
}
th, td {
    height: 25px;
}
table {
    font-size: 14px;
    margin: auto;
    width: 70%;
    color: #222;
    border-top: 1px solid #000;
}
td {
    text-align: left;
    border-bottom: 1px solid #bbb;
}