#container {
    width: 100%;
    margin: auto;
    overflow: auto;
	background-color: #fff;
}
#container #sidebar {
    width: 12%;
    margin-left: 15%;
}
#banner {
    width: 70%;
    margin: auto;
}
.menuline {
    width: 70%;
    margin: auto;
	height: 2px;
	background-image: linear-gradient(to right, #30d2be 0%, #3584A7 51%, #473b7b 100%);
}
#sidebar {
    height: 100%;
    background-color: #fff;
    float: left;
    border-right: 1px solid #aaa;
}
#sidebar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px 10px 0px 0px;
}
#sidebar h2 {
    box-align: center;
    padding-top: 10px;
}
#sidebar ul li {
    padding: 10px 10px 10px 0px;
    margin-top: -1px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
#sidebar ul li a i {
    float: right;
}
#sidebar a:hover {
    color: #473b7b;
}
#content {
    position: relative;
    top: -20px;
    width: 58%;
    height: 100%;
    margin-top: 3%;
    padding-left: 10px;
    float: left;
}
.subtitle {
    margin-left: 2%;
}
.subtitle a {
    font-weight: bold;
    font-size: 20px;
    color: #000055;
}
.subtitle p {
    margin-left: 2%;
    width: 90%;
}
.examples {
    width: 100%;
    margin-top: 2%;
    text-align: center;
}