#container {
	background-color: #fff;
}
#container .menuline, #container #banner, #container #footer {
	width: 70%;
	margin: auto;
}
#container #sidebar {
    width: 12%;
    margin-left: 15%;
}
.menuline {
	height: 2px;
	background-image: linear-gradient(to right, #30d2be 0%, #3584A7 51%, #473b7b 100%);
}
#sidebar {
    height: 500px;
    background-color: #fff;
    border-right: 1px solid #aaa;
}
#sidebar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px 10px 0px 0px;
}
#sidebar h2 {
    padding-top: 10px;
}
#sidebar ul li {
    padding: 10px 10px 10px 0px;
    margin-top: -1px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
#sidebar ul li a i {
    float: right;
}