#topMenu {
	height: 60px;
	width: 70%;
	margin: auto;
}
#topMenu ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#topMenu ul li {
	float: left;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	position: relative;
}
.menuLink, .submenuLink {
	text-decoration:none;
	display: block;
	width: 100px;
	font-size: 15px;
	font-weight: bold;
	background-color: #fff;
}
.menuLink {
	margin-top: 30px;
	color: #000;
}
.topMenuLi:hover .menuLink {
	color: #473b7b;
}
.longLink {
	width: 190px;
}
.submenu {
	position: absolute;
	height: 0px;
	overflow: hidden;
	transition: height .3s;
	-webkit-transition: height .3s;
	-moz-transition: height .3s;
	-o-transition: height .3s;
}
.topMenuLi:hover .submenu {
	height: 124px;
}
.submenuLink:hover {
	color: #473b7b;
	background-color: #ddd;
}